In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("NBA_19_records.csv")
df.head()

,Unnamed: 0,rk,player,tm,salary_2019to2020,salary_2020to2021,salary_2021to2022,salary_2022to2023,salary_2023to2024,salary_2024to2025,...,fta,ft_prc,oreb,dreb,reb,ast,tov,stl,blk,plusminus
0,0,1.0,Stephen Curry,GSW,40231758,"$43,006,362","$45,780,966",NaN,NaN,NaN,...,4.2,91.6,0.7,4.7,5.3,5.2,2.8,1.3,0.4,10.0
1,1,2.0,Chris Paul,OKC,38506482,"$41,358,814","$44,211,146",NaN,NaN,NaN,...,3.5,86.2,0.6,3.9,4.6,8.2,2.6,2.0,0.3,5.2
2,2,3.0,Russell Westbrook,HOU,38178000,"$41,006,000","$43,848,000","$46,662,000",NaN,NaN,...,6.2,65.6,1.5,9.6,11.1,10.7,4.5,1.9,0.5,4.0
3,3,4.0,John Wall,WAS,37800000,"$40,824,000","$43,848,000","$46,872,000",NaN,NaN,...,5.5,69.7,0.5,3.2,3.6,8.7,3.8,1.5,0.9,-4.8
4,4,5.0,James Harden,HOU,37800000,"$40,824,000","$43,848,000","$46,872,000",NaN,NaN,...,11.0,87.9,0.8,5.8,6.6,7.5,5.0,2.0,0.7,4.6

In [4]:
df.columns

Index(['Unnamed: 0', 'rk', 'player', 'tm', 'salary_2019to2020',
       'salary_2020to2021', 'salary_2021to2022', 'salary_2022to2023',
       'salary_2023to2024', 'salary_2024to2025', 'signed_using', 'guaranteed',
       'year_start', 'position', 'height', 'weight', 'birth_date', 'college',
       'age', 'gp', 'w', 'l', 'min', 'pts', 'fgm', 'fga', 'fg_prc',
       'three_pnt_m', 'three_pnt_a', 'three_pnt_prc', 'ftm', 'fta', 'ft_prc',
       'oreb', 'dreb', 'reb', 'ast', 'tov', 'stl', 'blk', 'plusminus'],
      dtype='object')

In [5]:
df = df[['salary_2019to2020','age', 'gp','min','pts','fg_prc','three_pnt_prc','ft_prc','reb','ast', 'tov','plusminus']]
df.head()

,salary_2019to2020,age,gp,min,pts,fg_prc,three_pnt_prc,ft_prc,reb,ast,tov,plusminus
0,40231758,31,69,33.8,27.3,47.2,43.7,91.6,5.3,5.2,2.8,10.0
1,38506482,34,58,32.0,15.6,41.9,35.8,86.2,4.6,8.2,2.6,5.2
2,38178000,30,73,36.0,22.9,42.8,29.0,65.6,11.1,10.7,4.5,4.0
3,37800000,28,32,34.5,20.7,44.4,30.2,69.7,3.6,8.7,3.8,-4.8
4,37800000,29,78,36.8,36.1,44.2,36.8,87.9,6.6,7.5,5.0,4.6

In [6]:
df = df.rename(columns={"salary_2019to2020":"y","age":"X1", "gp":"X2","min":"X3","pts":"X4","fg_prc":"X5","three_pnt_prc":"X6","ft_prc":"X7","reb":"X8","ast":"X9", "tov":"X10","plusminus":"X11"})
df.head()

          y  X1  X2    X3    X4    X5    X6    X7    X8    X9  X10   X11
0  40231758  31  69  33.8  27.3  47.2  43.7  91.6   5.3   5.2  2.8  10.0
1  38506482  34  58  32.0  15.6  41.9  35.8  86.2   4.6   8.2  2.6   5.2
2  38178000  30  73  36.0  22.9  42.8  29.0  65.6  11.1  10.7  4.5   4.0
3  37800000  28  32  34.5  20.7  44.4  30.2  69.7   3.6   8.7  3.8  -4.8
4  37800000  29  78  36.8  36.1  44.2  36.8  87.9   6.6   7.5  5.0   4.6

In [7]:
# test train split
# linear regression (sklearn)
# coefficients/weights

In [8]:
X = df.drop(columns=['y'])
y = df['y']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [10]:
model = LinearRegression(normalize=True)

In [11]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [12]:
model.coef_

array([  449862.26173573,   -20203.6929809 ,    -4267.06302953,
         905819.65254873,  -152820.39081916,  -108839.50645896,
          20321.51727005,   659273.05121002,  1152254.88943634,
       -1190794.12221737,   359819.80524737])

In [13]:
stat_model = sm.OLS(y,X)
stat_result = stat_model.fit()
print(stat_result.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.809
Model:                            OLS   Adj. R-squared (uncentered):              0.802
Method:                 Least Squares   F-statistic:                              109.4
Date:                Thu, 09 Jan 2020   Prob (F-statistic):                    2.88e-95
Time:                        21:30:53   Log-Likelihood:                         -5032.0
No. Observations:                 295   AIC:                                  1.009e+04
Df Residuals:                     284   BIC:                                  1.013e+04
Df Model:                          11
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
X1          3.663e+05   8.11e+04      4.518      0.000    2.07e+05    5.26e+05
X2          -751.7876   2.36e+04     -0.032      0.975   -4.72e+04    4.57e+04
X3         -1.309e+05   1.07e+05     -1.225      0.221   -3.41e+05    7.93e+04
X4          9.499e+05   1.49e+05      6.377      0.000    6.57e+05    1.24e+06
X5         -1.921e+05   5.01e+04     -3.832      0.000   -2.91e+05   -9.34e+04
X6         -7.953e+04   4.04e+04     -1.967      0.050   -1.59e+05      54.008
X7         -1.021e+04   3.61e+04     -0.283      0.778   -8.13e+04    6.09e+04
X8           8.26e+05   2.44e+05      3.388      0.001    3.46e+05    1.31e+06
X9          1.576e+06    4.4e+05      3.578      0.000    7.09e+05    2.44e+06
X10        -1.924e+06   1.38e+06     -1.391      0.165   -4.65e+06    7.99e+05
X11         5.051e+05   1.43e+05      3.520      0.001    2.23e+05    7.88e+05
==============================================================================
Omnibus:                        6.429   Durbin-Watson:                   1.208
Prob(Omnibus):                  0.040   Jarque-Bera (JB):                6.881
Skew:                           0.250   Prob(JB):                       0.0321
Kurtosis:                       3.556   Cond. No.                         464.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [14]:
# scalar